!!! 5
%html{lang:'en'}
  %head
    %title Search Prototype
    %link{rel: 'stylesheet', href: "#{ENV.fetch('ASSET_LOCATION_URL', 'https://s3-eu-west-1.amazonaws.com/web1devci.pugin-website')}/1.2.7/stylesheets/main.css" }
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    - if ENV['GTM_KEY']
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{ENV['GTM_KEY']}');</script>
  %body.no-js
    - if ENV['GTM_KEY']
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=#{ENV['GTM_KEY']}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    %a.sr-only.sr-only--focusable{href: '#content', id: 'skiplink'} Skip to main content
    %header
      .container--full-grid
        %a.logo{href: '/'} UK Parliament
    .highlight__status.status
      .container--full-grid
        %p
          This is a test website, so may be inaccurate or misleading -
          %a{href: 'https://ukparliament-self.achieveservice.com/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-032e1b1d-958f-4402-9ab2-97a38ed9b899/AF-Stage9b7ecae8-0c85-4ee7-afda-b256cffe5f08/definition.json&redirectlink=%2F&cancelRedirectLink=%2F&category=AF-Category-48936b5c-9329-48c7-a0a5-563463aacadf', target: '_blank', title: 'website opens in a new window'} give feedback
          to help improve it. Return to
          %a{href: 'https://www.parliament.uk'} current website.
    %main#content
      .container--full-grid
        = yield
    %footer
      .container--full-grid
        %h2.logo UK Parliament
        %ul.list
          %li
            %a{href: 'https://www.parliament.uk/'} Current website
          %li
            %a{href: 'http://beta.parliament.uk/meta/cookie-policy'} Cookie policy
    %script{src: "#{ENV.fetch('ASSET_LOCATION_URL', 'https://s3-eu-west-1.amazonaws.com/web1devci.pugin-website')}/1.2.7/javascripts/main.js"}