= haml :'search/search_box'

%p= "About #{@search_response['TotalResults']} results"

%ul.list
  - @results.each do |result|
    %li.list__item
      %a{ :href => "#{result['Links'][0]['Uri']}" }= result['Title']['Text']
      %p= result['Links'][0]['Uri']
      %p= result['Summary']['Text']