= haml :'search/search_box'

%p= "About #{@results.totalResults} results"

%ul.list
  - @results.entries.each do |entry|
    %li.list__item
      %a{ :href => "#{entry.url}" }= entry.title
      %p= entry.url
      %p= entry.summary