%h1 Search

= haml :'search/search_box'

%p= "About #{@results_total} results"

%ul.list
  - @results.entries.each do |entry|
    %li.list__item
      %a{ :href => "#{entry.url}" }= entry.title
      %p{ style: 'word-wrap: break-word;' }= entry.url
      %p= entry.summary

.block
  - unless current_page == 1
    %a.navigation-control.navigation-control--left{ :href => "/search/results?q=#{@query_parameter}&start_page=#{start_page(previous_page)}" } Previous

  - unless current_page == last_page
    %a.navigation-control.navigation-control--right{ :href => "/search/results?q=#{@query_parameter}&start_page=#{start_page(next_page)}" } Next

  %ol.navigation.navigation--number
    - page_range.each do |page|
      %li
        %a{ :href => "/search/results?q=#{@query_parameter}&start_page=#{start_page(page)}" }= page